:root {
    --height: 100%;
    --width: 100%;
    --white-color: #FFFFFF;
}

html, body{
    height: var(--height);
    width: var(--width);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    box-sizing: border-box;
    position: relative;
    background: linear-gradient(120deg, #00D2FF, #3A7BD5);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Montserrat', sans-serif;
    color: var(--white-color);
}

.background-div {
    position: relative;
}

.background-x {
    position: relative;
    margin-top: calc(var(--height)/5);
}

.background-o {
    position: absolute;
    margin-left: auto;
    right: 0;
}

.background-x-resp,
.background-o-resp {
    display: none;
}

.heading {
    width: 276px;
    height: 51px;
    font-weight: 900;
    font-size: 43px;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-left: -138px;
    margin-top: -25.5px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.container {
    position: absolute;
    justify-content: center;
    top: 65%;
    left: 50%;
    margin-left: -178px;
}

.start-p {
    width: 246px;
    height: 29px;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    margin-left: -123px;
    left: 50%;
    position: absolute;
}

.player-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: calc(var(--height)/4) auto;
}

a{
    border: none;
    cursor: pointer;
    background-color: inherit;
}



@media (min-width: 770px) {
    .background-x-resp{
        display: flex;
        position: absolute;
        transform: rotate(180deg);
        margin-left: auto;
        right: -7%;
        top: 100%;
    }
    
    .background-o-resp{
        display: flex;
        position: absolute;
        transform: rotate(180deg);
        margin-left: auto;
        left: 0;
        top: 200%;
    }

    .heading {
        width: 350px;
        height: 51px;
        font-weight: 1000;
        font-size: 55px;
        margin-left: -175px;
    }

    .start-p {
        width: 300px;
        font-weight: 570;
        font-size: 30px;
        margin-left: -150px;
    }
}